[Unit]
Description=RNM (DPDK) configuration service
Requires=network-online.target local-fs.target
After=network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rnm-dpdk-conf.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
