[submodule "meta-voltumna"]
	path = meta-voltumna
	url = https://github.com/voltumna-linux/meta-voltumna.git
	branch = wrynose
[submodule "meta-elettra"]
	path = meta-elettra
	url = https://github.com/voltumna-linux/meta-elettra.git
	branch = wrynose
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/meta-intel
	branch = wrynose
[submodule "meta-intel-qat"]
	path = meta-intel-qat
	url = https://git.yoctoproject.org/meta-intel-qat
	branch = wrynose
[submodule "meta-amd"]
	path = meta-amd
	url = https://github.com/voltumna-linux/meta-amd.git
	branch = wrynose
