serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
default=netboot
timeout=2

menuentry 'localboot' {
	search --label -s root --no-floppy root
	set image=default
	linux ($root)/.osdir/$image/boot/bzImage norandmaps mitigations=off systemd.gpt_auto=off console=ttyS0,115200n8 console=tty0 rootfstype=ext4 root=@ROOT@ mount.usr=/.osdir/$image quiet pti=off isolcpus=30,62 nohz_full=30,62 rcu_nocbs=30,62 irqaffinity=0-29,31-61,63 intel_idle.max_cstate=0 processor.max_cstate=0 idle=poll nosoftlockup nmi_watchdog=0 nowatchdog default_hugepagesz=1G hugepagesz=1G hugepages=0:4,1:4 mce=off numa_balancing=disable
	initrd ($root)/.osdir/$image/boot/microcode.cpio
}

menuentry 'netboot' {
	set image=@IMAGE_NAME@
	linux ($root)/$image/boot/bzImage norandmaps mitigations=off systemd.gpt_auto=off console=ttyS0,115200n8 console=tty0 rootfstype=nfs ip=:::::@ETH@:dhcp::: mount.usr=/voltumna/$image quiet pti=off isolcpus=30,62 nohz_full=30,62 rcu_nocbs=30,62 irqaffinity=0-29,31-61,63 intel_idle.max_cstate=0 processor.max_cstate=0 idle=poll nosoftlockup nmi_watchdog=0 nowatchdog default_hugepagesz=1G hugepagesz=1G hugepages=0:4,1:4 mce=off numa_balancing=disable
	initrd ($root)/$image/boot/microcode.cpio
}

