serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
default=localboot
timeout=2

menuentry 'localboot' {
	search --label -s root --no-floppy root
	set image=default
	linux ($root)/.osdir/$image/boot/bzImage norandmaps mitigations=off systemd.gpt_auto=off console=ttyS0,115200n8 console=tty0 rootfstype=ext4 root=@ROOT@ mount.usr=/.osdir/$image quiet
}

menuentry 'netboot' {
	set image=@IMAGE_NAME@
	linux ($root)/$image/boot/bzImage norandmaps mitigations=off systemd.gpt_auto=off console=ttyS0,115200n8 console=tty0 rootfstype=nfs ip=:::::@ETH@:dhcp::: mount.usr=/voltumna/$image quiet pti=off isolcpus=domain,nohz,managed_irq,128-255,384-511 nohz_full=128-255,384-511 rcu_nocbs=128-255,384-511 irqaffinity=0-127,256-383 processor.max_cstate=1 nosoftlockup nmi_watchdog=0 nowatchdog default_hugepagesz=1G hugepagesz=1G hugepages=512 mce=off numa_balancing=disable iommu=pt amd_iommu=on pcie_aspm=off rcu_nocb_poll skew_tick=1 tsc=reliable amd_pstate=disable
}
